// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #ebebeb;
}

.card-header{
    color: #4f4f4f;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    color:white;
    background-color: $black;
    font-size: 2rem;
    padding: 10px 20px;
}
.primary {
    color: $primary;
}