// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #ebebeb;
}

.card-header{
    color: white;
    background-color: #333333;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    color:white;
    background-color: $black;
    font-size: 2rem;
    padding: 10px 20px;
}
.primary {
    color: $primary;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.links > a {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-info {
    color:white;
    background-color: $black;
    font-size: 1.2rem;
    padding: 10px 20px;
}