.slider {
  overflow: hidden;

  .slide-container {
    width: 100%;
    background-color: $white-smoke;

    border-radius: 1rem;
    margin-top: 1rem;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-controls {
      padding-top: 0rem;
      padding-bottom: 0.5rem;
      margin-top: 3rem;
      text-align: right;

      .btn {
        &:hover {
          background-color: $primary;
          color: $white;
        }

        i {
          font-weight: 800;
          position: relative;
        }
      }
    }
  }

  .wrapper {
    width: 600%;
    display: flex;
    flex-direction: row;

    &.slide-0 {
      margin-left: 0%;
    }

    &.slide-1 {
      margin-left: -100%;
    }

    &.slide-2 {
      margin-left: -200%;
    }

    &.slide-3 {
      margin-left: -300%;
    }

    &.slide-4 {
      margin-left: -400%;
    }

    &.slide-5 {
      margin-left: -500%;
    }
  }

  .slide {
    width: 20%;
    padding: 2rem 1.5rem;

    .step-title {
      text-align: center;
      margin-bottom: 2rem;
      text-shadow: 0px 1px 1px #c5c4c5;
    }

    .card-controls {
      text-align: right;

      margin: 0px;
      padding-top: 10px;

      div {
        padding: 0px;
      }
    }
  }
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;

  &:after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: $primary;
    position: absolute;
    width: 699px;
    margin-top: 43px;
    z-index: 100;
  }

  li {
    z-index: 101;
    width: 90px;
    text-align: center;
    height: 90px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $primary;
    background-color: $white;
    font-size: 11px;
    font-weight: 600;

    &.is-active {
      background-color: $primary;
      border: 5px solid $white !important;
    }
  }
}
